## Alumno: Rafael Navarro Gómez

# Actividad práctica de MongoDB con Python

**Objetivo:**  
Repasar los conceptos básicos de MongoDB estudiados en clase, explorando la relación entre **bases de datos**, **colecciones** y **documentos**, y practicar las operaciones principales de la librería `pymongo`. 

Durante esta actividad, **la única documentación oficial que debes consultar es la de `pymongo`**:  
[Documentación oficial pymongo](https://pymongo.readthedocs.io/en/stable/)

> Nota: Todas las operaciones se realizarán dentro de tu contenedor Jupyter conectado al servicio MongoDB.

## Bloque 1: Exploración de comandos

En este bloque realizarás demostraciones prácticas de conexión y manipulación de MongoDB utilizando `pymongo`. Se repasarán los conceptos de **base de datos, colección y documento** y se mostrará la flexibilidad de MongoDB a la hora de tratar con documentos y campos.

In [15]:
from pymongo import MongoClient
import pymongo
client = MongoClient("mongodb://admin:admin123@mongodb:27017/")
print("Conexión al servidor MongoDB establecida correctamente")

Conexión al servidor MongoDB establecida correctamente

In [2]:
# Listar bases de datos existentes
print(client.list_database_names())

['actividad_db', 'admin', 'config', 'local']

In [3]:
# Crear y seleccionar base de datos
db = client["actividad_db"]
print("Base de datos 'actividad_db' seleccionada")

Base de datos 'actividad_db' seleccionada

In [5]:
# Crear y seleccionar colección
collection = db["alumnos"]
print("Colección 'alumnos' seleccionada")

Colección 'alumnos' seleccionada

In [24]:
# Insertar varios documentos de ejemplo
docs = [
    {"nombre": "Ana", "edad": 21, "curso": "Big Data"},
    {"nombre": "Luis", "edad": 22, "curso": "Python"},
    {"nombre": "Marta", "edad": 20, "curso": "Big Data"},
    {"nombre": "Pedro", "edad": 23, "curso": "Python"}
]
result = collection.insert_many(docs)
print(f"Documentos insertados con _id: {result.inserted_ids}")

Documentos insertados con _id: [ObjectId('691f58ca467f3413df3e8c81'), ObjectId('691f58ca467f3413df3e8c82'), ObjectId('691f58ca467f3413df3e8c83'), ObjectId('691f58ca467f3413df3e8c84')]

In [25]:
# Consultar todos los documentos
for alumno in collection.find():
    print(alumno)

{'_id': ObjectId('6916264deb54266f52aa4d25'), 'nombre': 'Rafa', 'edad': 19, 'curso': 'IA y Big Data', 'nota': 9}
{'_id': ObjectId('6916264deb54266f52aa4d27'), 'nombre': 'Kike', 'edad': 20, 'curso': 'IA y Big Data', 'nota': 2}
{'_id': ObjectId('691628abeb54266f52aa4d28'), 'nombre': 'Roberto', 'edad': 20, 'curso': 'IA y Big Data', 'nota': 2}
{'_id': ObjectId('69162bcbeb54266f52aa4d29'), 'nombre': 'Parra', 'edad': 25, 'curso': 'IA y Big Data', 'nota': 2}
{'_id': ObjectId('69162ca3eb54266f52aa4d2a'), 'nombre': 'Luis', 'edad': 23, 'curso': 'Los villares', 'nota': 2}
{'_id': ObjectId('691cacfe23092bc8ccb3cbbb'), 'nombre': 'Ana', 'edad': 22, 'curso': 'Big Data', 'nota': 2}
{'_id': ObjectId('691cacfe23092bc8ccb3cbbc'), 'nombre': 'Luis', 'edad': 22, 'curso': 'Python', 'nota': 2}
{'_id': ObjectId('691cacfe23092bc8ccb3cbbd'), 'nombre': 'Marta', 'edad': 20, 'curso': 'Big Data', 'nota': 2}
{'_id': ObjectId('691cacfe23092bc8ccb3cbbe'), 'nombre': 'Pedro', 'edad': 24, 'curso': 'Python', 'nota': 2}
{'_id': ObjectId('691f5862467f3413df3e8c7a'), 'nombre': 'Rafa', 'edad': 19, 'curso': 'IA y Big Data', 'nota': 1}
{'_id': ObjectId('691f5862467f3413df3e8c7c'), 'nombre': 'Kike', 'edad': 20, 'curso': 'IA y Big Data', 'nota': 1}
{'_id': ObjectId('691f586c467f3413df3e8c7d'), 'nombre': 'Parra', 'edad': 24, 'curso': 'IA y Big Data', 'nota': 1}
{'_id': ObjectId('691f5876467f3413df3e8c7e'), 'nombre': 'Luis', 'edad': 23, 'curso': 'Los villares', 'nota': 1}
{'_id': ObjectId('691f58ca467f3413df3e8c81'), 'nombre': 'Ana', 'edad': 21, 'curso': 'Big Data'}
{'_id': ObjectId('691f58ca467f3413df3e8c82'), 'nombre': 'Luis', 'edad': 22, 'curso': 'Python'}
{'_id': ObjectId('691f58ca467f3413df3e8c83'), 'nombre': 'Marta', 'edad': 20, 'curso': 'Big Data'}
{'_id': ObjectId('691f58ca467f3413df3e8c84'), 'nombre': 'Pedro', 'edad': 23, 'curso': 'Python'}

In [26]:
# Buscar documentos con un campo específico
for alumno in collection.find({"curso": "Python"}):
    print(alumno)

{'_id': ObjectId('691cacfe23092bc8ccb3cbbc'), 'nombre': 'Luis', 'edad': 22, 'curso': 'Python', 'nota': 2}
{'_id': ObjectId('691cacfe23092bc8ccb3cbbe'), 'nombre': 'Pedro', 'edad': 24, 'curso': 'Python', 'nota': 2}
{'_id': ObjectId('691f58ca467f3413df3e8c82'), 'nombre': 'Luis', 'edad': 22, 'curso': 'Python'}
{'_id': ObjectId('691f58ca467f3413df3e8c84'), 'nombre': 'Pedro', 'edad': 23, 'curso': 'Python'}

In [27]:
# Actualizar documentos
collection.update_one({"nombre": "Ana"}, {"$set": {"edad": 22}})
print("Documento actualizado correctamente")

Documento actualizado correctamente

In [28]:
# Filtrar y mostrar documentos actualizados
for alumno in collection.find({"edad": {"$gte": 22}}):
    print(alumno)

{'_id': ObjectId('69162bcbeb54266f52aa4d29'), 'nombre': 'Parra', 'edad': 25, 'curso': 'IA y Big Data', 'nota': 2}
{'_id': ObjectId('69162ca3eb54266f52aa4d2a'), 'nombre': 'Luis', 'edad': 23, 'curso': 'Los villares', 'nota': 2}
{'_id': ObjectId('691cacfe23092bc8ccb3cbbb'), 'nombre': 'Ana', 'edad': 22, 'curso': 'Big Data', 'nota': 2}
{'_id': ObjectId('691cacfe23092bc8ccb3cbbc'), 'nombre': 'Luis', 'edad': 22, 'curso': 'Python', 'nota': 2}
{'_id': ObjectId('691cacfe23092bc8ccb3cbbe'), 'nombre': 'Pedro', 'edad': 24, 'curso': 'Python', 'nota': 2}
{'_id': ObjectId('691f586c467f3413df3e8c7d'), 'nombre': 'Parra', 'edad': 24, 'curso': 'IA y Big Data', 'nota': 1}
{'_id': ObjectId('691f5876467f3413df3e8c7e'), 'nombre': 'Luis', 'edad': 23, 'curso': 'Los villares', 'nota': 1}
{'_id': ObjectId('691f58ca467f3413df3e8c82'), 'nombre': 'Luis', 'edad': 22, 'curso': 'Python'}
{'_id': ObjectId('691f58ca467f3413df3e8c84'), 'nombre': 'Pedro', 'edad': 23, 'curso': 'Python'}

In [29]:
# Eliminar un documento
collection.delete_one({"nombre": "Pedro"})
print("Documento eliminado correctamente")

Documento eliminado correctamente

In [30]:
# Eliminar una colección completa
collection.drop()
print("Colección 'alumnos' eliminada")

Colección 'alumnos' eliminada

## Bloque 2: Actividades reales
Realiza los siguientes ejercicios utilizando la librería `pymongo`. Cada ejercicio tiene una celda de enunciado y una celda de código vacía para que escribas tu solución.

### Ejercicio 1:
Crear 3 documentos nuevos con información de alumnos (nombre, edad, curso).

In [31]:
# Tu código aquí
collection = db["alumnos"]
print("Colección 'alumnos' seleccionada")

students = [
    {"nombre": "Rafa",
     "edad": 19,
     "curso": "IA y Big Data"
    },
    {"nombre": "Mario",
     "edad": 22,
     "curso": "Betis"
    },
    {"nombre": "Kike",
     "edad": 20,
     "curso": "IA y Big Data"
    }]

result = collection.insert_many(students)
print(f"Documentos insertados con _id: {result.inserted_ids}")

Colección 'alumnos' seleccionada
Documentos insertados con _id: [ObjectId('691f58dd467f3413df3e8c85'), ObjectId('691f58dd467f3413df3e8c86'), ObjectId('691f58dd467f3413df3e8c87')]

### Ejercicio 2:
Consultar todos los alumnos y mostrar el resultado en pantalla.

In [32]:
# Tu código aquí
for alumno in collection.find():
    print(alumno)

{'_id': ObjectId('691f58dd467f3413df3e8c85'), 'nombre': 'Rafa', 'edad': 19, 'curso': 'IA y Big Data'}
{'_id': ObjectId('691f58dd467f3413df3e8c86'), 'nombre': 'Mario', 'edad': 22, 'curso': 'Betis'}
{'_id': ObjectId('691f58dd467f3413df3e8c87'), 'nombre': 'Kike', 'edad': 20, 'curso': 'IA y Big Data'}

### Ejercicio 3:
Buscar todos los alumnos que tengan más de 20 años.

In [33]:
# Tu código aquí
for alumno in collection.find({"edad": {"$gte": 20}}):
    print(alumno)

{'_id': ObjectId('691f58dd467f3413df3e8c86'), 'nombre': 'Mario', 'edad': 22, 'curso': 'Betis'}
{'_id': ObjectId('691f58dd467f3413df3e8c87'), 'nombre': 'Kike', 'edad': 20, 'curso': 'IA y Big Data'}

### Ejercicio 4:
Actualizar el curso de un alumno concreto.

In [34]:
# Tu código aquí
collection.update_one({"nombre": "Mario"}, {"$set": {"curso": "IA y Big Data"}})
print("Documento actualizado correctamente")

Documento actualizado correctamente

### Ejercicio 5:
Eliminar un alumno específico.

In [35]:
# Tu código aquí
collection.delete_one({"nombre": "Mario"})
print("Documento eliminado correctamente")

Documento eliminado correctamente

### Ejercicio 6:
Insertar un nuevo alumno utilizando un diccionario creado dinámicamente.

In [36]:
# Tu código aquí
collection.insert_one({"nombre": "Parra","edad": 24,"curso": "IA y Big Data"})

InsertOneResult(ObjectId('691f58ea467f3413df3e8c88'), acknowledged=True)

### Ejercicio 7:
Contar el número total de documentos en la colección.

In [37]:
# Tu código aquí
total = collection.count_documents({})
print(f"Hay {total} documentos en total")

Hay 3 documentos en total

### Ejercicio 8:
Buscar un alumno por nombre y mostrar todos sus datos.

In [38]:
# Tu código aquí
for alumno in collection.find({"nombre": "Rafa"}):
    print(alumno)

{'_id': ObjectId('691f58dd467f3413df3e8c85'), 'nombre': 'Rafa', 'edad': 19, 'curso': 'IA y Big Data'}

### Ejercicio 9:
Modificar la edad de todos los alumnos mayores de 21 años sumando 1.

In [39]:
# Tu código aquí
for alumno in collection.find({"edad": {"$gte": 21}}):
    collection.update_one({"nombre": alumno["nombre"]}, {"$set": {"edad": alumno["edad"] + 1}})
    print(alumno)

{'_id': ObjectId('691f58ea467f3413df3e8c88'), 'nombre': 'Parra', 'edad': 24, 'curso': 'IA y Big Data'}

### Ejercicio 10:
Insertar 2 documentos más y comprobar el incremento en el total.

In [40]:
# Tu código aquí

more_docs = [
    {"nombre": "Luis",
     "edad": 23,
     "curso": "Los villares"
    },
    {"nombre": "Carlos",
     "edad": 20,
     "curso": "Betis"
    }]

result = collection.insert_many(more_docs)

### Ejercicio 11:
Eliminar todos los documentos de un curso concreto.

In [41]:
# Tu código aquí
for alumno in collection.find({"curso": "Betis"}):
    collection.delete_one({"nombre": alumno["nombre"]})
    print(f"{alumno['nombre']} ha sido eliminado correctamente")

Carlos ha sido eliminado correctamente

### Ejercicio 12:
Buscar todos los alumnos que contengan la letra “a” en su nombre.

In [42]:
# Tu código aquí
for alumno in collection.find({"nombre": {"$regex": "a"}}):
    print(alumno)

{'_id': ObjectId('691f58dd467f3413df3e8c85'), 'nombre': 'Rafa', 'edad': 19, 'curso': 'IA y Big Data'}
{'_id': ObjectId('691f58ea467f3413df3e8c88'), 'nombre': 'Parra', 'edad': 25, 'curso': 'IA y Big Data'}

### Ejercicio 13:
Consultar solo los nombres de todos los alumnos (proyección).

In [43]:
# Tu código aquí
for alumno in collection.find({}, {"nombre": 1, "_id": 0}):
    print(alumno)

{'nombre': 'Rafa'}
{'nombre': 'Kike'}
{'nombre': 'Parra'}
{'nombre': 'Luis'}

### Ejercicio 14:
Actualizar un campo nuevo llamado “nota” para un alumno concreto.

In [44]:
# Tu código aquí
collection.update_one({"nombre": "Rafa"}, {"$set": {"nota": 8}})
for alumno in collection.find({"nombre": "Rafa"}):
    print(alumno)

{'_id': ObjectId('691f58dd467f3413df3e8c85'), 'nombre': 'Rafa', 'edad': 19, 'curso': 'IA y Big Data', 'nota': 8}

### Ejercicio 15:
Incrementar el campo “nota” de todos los alumnos en 1.

In [45]:
# Tu código aquí
collection.update_many({}, {"$inc": {"nota": 1}})

for alumno in collection.find():
    print(alumno)

{'_id': ObjectId('691f58dd467f3413df3e8c85'), 'nombre': 'Rafa', 'edad': 19, 'curso': 'IA y Big Data', 'nota': 9}
{'_id': ObjectId('691f58dd467f3413df3e8c87'), 'nombre': 'Kike', 'edad': 20, 'curso': 'IA y Big Data', 'nota': 1}
{'_id': ObjectId('691f58ea467f3413df3e8c88'), 'nombre': 'Parra', 'edad': 25, 'curso': 'IA y Big Data', 'nota': 1}
{'_id': ObjectId('691f58f4467f3413df3e8c89'), 'nombre': 'Luis', 'edad': 23, 'curso': 'Los villares', 'nota': 1}

### Ejercicio 16:
Crear una consulta combinada: alumnos de un curso específico y mayores de 20 años.

In [6]:
# Tu código aquí
for alumno in collection.find({"curso": "IA y Big Data", "edad": {"$gt": 20}}):
    print(alumno)

{'_id': ObjectId('691f58ea467f3413df3e8c88'), 'nombre': 'Parra', 'edad': 25, 'curso': 'IA y Big Data', 'nota': 1}

### Ejercicio 17:
Ordenar los alumnos por edad ascendente.

In [16]:
# Tu código aquí
for alumno in collection.find(sort=[('edad', pymongo.ASCENDING)]):
    print(alumno)

{'_id': ObjectId('691f58dd467f3413df3e8c85'), 'nombre': 'Rafa', 'edad': 19, 'curso': 'IA y Big Data', 'nota': 9}
{'_id': ObjectId('691f58dd467f3413df3e8c87'), 'nombre': 'Kike', 'edad': 20, 'curso': 'IA y Big Data', 'nota': 1}
{'_id': ObjectId('691f58f4467f3413df3e8c89'), 'nombre': 'Luis', 'edad': 23, 'curso': 'Los villares', 'nota': 1}
{'_id': ObjectId('691f58ea467f3413df3e8c88'), 'nombre': 'Parra', 'edad': 25, 'curso': 'IA y Big Data', 'nota': 1}

### Ejercicio 18:
Eliminar todos los documentos para dejar la colección vacía.

In [18]:
# Tu código aquí
collection.delete_many({})
print("Los documentos de la colección han sido eliminados")

Los documentos de la colección han sido eliminados

### Ejercicio 19:
Comprobar que la colección está vacía usando `count_documents({})`.

In [19]:
# Tu código aquí
print(collection.count_documents({}))

0

### Ejercicio 20:
Insertar un último alumno como cierre de la actividad.

In [20]:
# Tu código aquí
collection.insert_one({"nombre": "Rafa","edad": 19,"curso": "IA y Big Data"})

for alumno in collection.find():
    print(alumno)

{'_id': ObjectId('691f6567a251b06e9dcd49a7'), 'nombre': 'Rafa', 'edad': 19, 'curso': 'IA y Big Data'}